In [2]:
import os
os.getcwd()

'C:\\Users\\MelvinM'

In [10]:
from ctgan import CTGAN
from ctgan import load_demo
import pandas as pd

data = pd.read_csv('sample_data.csv')

display(data.head(10))
print(data.columns)


# Names of the columns that are discrete
discrete_columns = [
    'date','bloomberg_ticker','currency','provider','created_at'
]

ctgan = CTGAN(epochs=10)
ctgan.fit(data, discrete_columns)

# Create synthetic data
synthetic_data = ctgan.sample(1000)

,date,bloomberg_ticker,open,high,low,close,adj_close,volume,currency,provider,created_at
0,2003-03-14,000270 KS,7010.0,7150.0,6900.0,6950.0,4723.9140,1619600.0,KRW,yahoo,2023-06-03 11:22:01.050856
1,2003-03-21,000270 KS,7690.0,7800.0,7510.0,7750.0,5267.6743,1926700.0,KRW,yahoo,2023-06-03 11:22:01.050856
2,2003-03-28,000270 KS,7320.0,7400.0,7190.0,7370.0,5009.3877,985100.0,KRW,yahoo,2023-06-03 11:22:01.050856
3,2003-04-04,000270 KS,7170.0,7500.0,7070.0,7500.0,5097.7485,1958400.0,KRW,yahoo,2023-06-03 11:22:01.050856
4,2003-04-11,000270 KS,8030.0,8230.0,7850.0,8060.0,5478.3804,1773800.0,KRW,yahoo,2023-06-03 11:22:01.050856
5,2003-04-18,000270 KS,8900.0,9030.0,8840.0,9000.0,6117.2983,1821900.0,KRW,yahoo,2023-06-03 11:22:01.050856
6,2003-04-25,000270 KS,8210.0,8210.0,7700.0,7890.0,5362.8320,1559200.0,KRW,yahoo,2023-06-03 11:22:01.050856
7,2003-05-02,000270 KS,8430.0,8530.0,8050.0,8450.0,5743.4640,1159700.0,KRW,yahoo,2023-06-03 11:22:01.050856
8,2003-05-09,000270 KS,8400.0,8460.0,8350.0,8440.0,5736.6675,880500.0,KRW,yahoo,2023-06-03 11:22:01.050856
9,2003-05-16,000270 KS,8920.0,8970.0,8630.0,8690.0,5906.5923,1777700.0,KRW,yahoo,2023-06-03 11:22:01.050856

Index(['date', 'bloomberg_ticker', 'open', 'high', 'low', 'close', 'adj_close',
       'volume', 'currency', 'provider', 'created_at'],
      dtype='object')

In [13]:
synthetic_data

,date,bloomberg_ticker,open,high,low,close,adj_close,volume,currency,provider,created_at
0,2003-09-12,000270 KS,8708.434855,9166.387830,8116.584339,7665.352062,5003.493513,1.985379e+06,KRW,yahoo,2023-06-03 11:22:01.050856
1,2003-03-21,000270 KS,8163.771222,7168.969373,9016.145035,6721.110210,5224.332461,7.867652e+05,KRW,yahoo,2023-06-03 11:22:01.050856
2,2003-08-29,000270 KS,8120.713106,9522.726186,8397.609124,8745.627142,5932.442635,1.311007e+06,KRW,yahoo,2023-06-03 11:22:01.050856
3,2003-09-05,000270 KS,9180.266159,6272.374962,8727.264553,7603.294416,5395.849928,-1.988631e+05,KRW,yahoo,2023-06-03 11:22:01.050856
4,2003-06-13,000270 KS,8633.577453,7625.554038,8343.009654,8596.187924,4630.229868,-6.962684e+05,KRW,yahoo,2023-06-03 11:22:01.050856
...,...,...,...,...,...,...,...,...,...,...,...
995,2003-07-04,000270 KS,9212.175121,7788.496812,9365.859465,9454.718144,6584.232311,-9.822274e+03,KRW,yahoo,2023-06-03 11:22:01.050856
996,2003-10-03,000270 KS,8618.521558,8489.702360,9592.020751,6890.076307,6325.388091,1.042487e+06,KRW,yahoo,2023-06-03 11:22:01.050856
997,2003-08-29,000270 KS,6916.658800,8477.046553,7879.309631,7821.003726,5344.182521,-1.076645e+06,KRW,yahoo,2023-06-03 11:22:01.050856
998,2003-04-04,000270 KS,7907.643041,8062.164403,8331.799196,7029.595728,5449.300090,-7.133984e+04,KRW,yahoo,2023-06-03 11:22:01.050856
999,2003-06-06,000270 KS,9412.691405,8960.056494,8716.577885,8368.757954,5637.482589,-9.937684e+05,KRW,yahoo,2023-06-03 11:22:01.050856